@mixin medium-max {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: 575px) {
    @content;
  }
}

.header {
  display: grid;
  // justify-content: flex-end;
  grid-template-areas:
    "heading   picture"
    "bioSocial picture"
    "bioSocial  picture"
    "none      none";
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: fit-content;
  justify-items: flex-end;
  margin-top: 6em;

  @include medium-max {
    grid-template-areas:
      "heading   picture"
      "heading   picture"
      "bioSocial bioSocial"
      "bioSocial bioSocial";
  }

  @include mobile {
    background-color: #1c1c1c;
    color: #fff;
    grid-template-areas:
      "picture   picture"
      "picture   picture"
      "heading   heading"
      "bioSocial bioSocial";
    margin-top: 0;
  }

  &__heading {
    grid-area: heading;
    margin-top: 1em;
    text-align: end;
    transform: translateX(60px);

    @include medium-max {
      margin-top: 4em;
      // transform: none;
      // margin-right: 5em;
      transform: translateX(50px);
    }

    @include mobile {
      margin-top: 0;
      transform: translateY(-50px);
      margin-right: 1.3em;
    }

    @include mobile-small {
      transform: translateY(-40px);
    }

    .heading-1 {
      // font-size: 7.8125rem;
      font-size: clamp(4rem, 9vw, 7.8125rem);

      @include medium-max {
        // font-size: 7.165rem;
        font-size: clamp(4rem, 11.5vw, 7.165rem);
      }

      @include mobile {
        // font-size: 7.165rem;
        font-size: clamp(4rem, 16vw, 7.45rem);
      }

      @include mobile-small {
        // font-size: 7.165rem;
        font-size: clamp(4rem, 20vw, 7.45rem);
      }
    }

    .heading-2 {
      // font-size: 7.8125rem;
      font-size: clamp(4rem, 9vw, 7.8125rem);

      @include medium-max {
        // font-size: 7.165rem;
        font-size: clamp(4rem, 11.5vw, 7.165rem);
      }

      @include mobile {
        // font-size: 7.165rem;
        font-size: clamp(4rem, 16vw, 7.45rem);
      }

      @include mobile-small {
        // font-size: 7.165rem;
        font-size: clamp(4rem, 20vw, 7.45rem);
      }
    }
  }

  &__desc {
    margin-top: 1em;
    text-align: end;
    display: flex;
    flex-direction: column;
  }

  /* width={650} */
  /* height={530} */
  &__picture {
    grid-area: picture;
    object-fit: cover;
    width: 100%;
    // width: clamp(300px, 52%, 40.625rem);
    height: 100%;
  }

  &__bio {
    // grid-area: bio;
    display: flex;
    margin-top: 1.7em;
    text-align: end;
    // padding-left: 7em;
    padding-left: clamp(1.5em, 10vw, 7em);
    margin-left: clamp(0.1em, 7vw, 2.5em);
    // font-size: 1.4375rem;
    font-size: clamp(0.5rem, 1.8vw, 1.4375rem);
    font-weight: 700;

    @include medium-max {
      font-size: 1.4375rem;
      margin-top: 1em;
      padding-left: clamp(1.5em, 15vw, 7em);
    }

    @include mobile-small {
      font-size: 1.18rem;
      padding-left: clamp(0.5em, 20vw, 1.2em);
    }
  }

  &__bio-social {
    grid-area: bioSocial;
    margin-right: 5em;

    @include mobile {
      transform: translateY(-40px);
      margin-right: 1.3em;
    }
  }

  &__social {
    // grid-area: social;
    // margin-top: 5.3em;
    margin-top: clamp(1em, 5vw, 3.3em);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5em;
    line-height: 1.8rem;

    @include mobile {
      gap: 4.2em;
      margin-top: clamp(1em, 20vw, 2.3em);
      justify-content: space-between;
      margin-left: 1.3em;
      padding-right: 1.3em;
      width: 100%;
      height: 100%;
    }
  }
}
