.header {
  display: flex;
  justify-content: flex-end;
  margin-top: 6em;

  &__heading {
    text-align: end;
    transform: translateX(60px);
    .heading-1 {
      // font-size: 7.8125rem;
      font-size: clamp(4rem, 9vw, 7.8125rem);
    }

    .heading-2 {
      // font-size: 7.8125rem;
      font-size: clamp(4rem, 9vw, 7.8125rem);
    }
  }

  &__desc {
    margin-top: 1em;
    text-align: end;
    display: flex;
    flex-direction: column;
  }

  /* width={650} */
  /* height={530} */
  &__picture {
    object-fit: cover;
    // width: 50%;
    width: clamp(300px, 52%, 40.625rem);
    height: 50%;
  }

  &__bio {
    margin-top: 1.7em;
    // padding-left: 7em;
    padding-left: clamp(1.5em, 10vw, 7em);
    // font-size: 1.4375rem;
    font-size: clamp(0.5rem, 1.8vw, 1.4375rem);
    font-weight: 700;
  }

  &__bio-social {
    padding-right: 5em;
  }

  &__social {
    // margin-top: 3.3em;
    margin-top: clamp(1em, 5vw, 3.3em);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5em;
  }
}
