@mixin medium-max {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: 575px) {
    @content;
  }
}

.about {
  display: flex;
  margin-right: 18.5em;
  width: clamp(2em, 80vw, 60em);
  // height: clamp(2em, 50vw, 60em);

  @include medium-max {
    width: 100%;
    justify-content: space-between;
    margin-right: 2em;
  }

  @include mobile {
    flex-direction: column-reverse;
  }

  @include mobile-small {
    margin-top: 4em;
  }

  &__desc-with-line {
    display: flex;
    flex-direction: column;
  }

  &__desc {
    text-align: end;
    // outline: 1px solid yellow;
    text-transform: uppercase;
    padding-block: 4em;
    padding-right: 4.0625em;
    padding-left: 9em;

    @include medium-max {
      padding-block: 4em;
      padding-left: 0;
      // font-size: clamp(0.5rem, 5vw, 1.775rem);
    }

    @include mobile {
      padding-top: 2em;
      padding-right: 2.5em;
    }

    @include mobile-small {
      padding-right: 0;
    }

    p {
      // font-size: 1.6375rem;
      font-size: clamp(0.5rem, 2vw, 1.5375rem);
      font-weight: 700;
      line-height: 1.7em;

      @include medium-max {
        // font-size: 1.6rem;
        font-size: clamp(1rem, 2.5vw, 1.6rem);
      }

      // @include mobile {
      //   font-size: clamp(0.5rem, 2vw, 1.6rem);
      // }
    }
  }

  &__title {
    // font-size: 2.5rem;
    font-size: clamp(0.5rem, 3vw, 2.5rem);
    background-color: var(--bg-white-ternary);
    color: black;
    padding-inline: 2.5em;

    @include mobile {
      padding-block: 0.5em;
    }

    p {
      text-align: center;

      @include mobile {
        font-size: 1.18rem;
      }
    }
  }
}
