@mixin medium-min {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: 575px) {
    @content;
  }
}

.projects {
  margin-top: 13.5em;
  // outline: 1px solid red;

  @include medium-min {
    margin-top: 5em;
  }

  &__container {
    // outline: 1px solid crimson;
    margin-bottom: 13.5em;
    // margin-inline: 18em;
    margin-inline: clamp(0.5rem, 10vw, 18em);

    @include medium-min {
      margin-bottom: 4em;
    }

    @include mobile-small {
      margin-inline: 1em;
    }

    .title {
      text-align: center;
      // font-size: 4.8125rem;
      font-size: clamp(0.5rem, 6vw, 4.8125rem);
      line-height: 1em;
      letter-spacing: 0.2rem;

      @include medium-min {
        line-height: 1.1em;
      }

      @include mobile-small {
        font-size: 2rem;
      }
    }
  }

  &__lists {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: flex-end;
      margin-bottom: 20em;

      @include medium-min {
        justify-items: stretch;
      }

      @include mobile {
        grid-template-columns: 1fr;
      }

      & > .project_container:nth-child(1) {
        transform: translateX(-60px);

        @include medium-min {
          transform: none;
        }

        .project-picture {
          // width: 528px;
          // height: 352px;
          width: clamp(100px, 39vw, 528px);
          height: clamp(100px, 25vw, 352px);

          @include medium-min {
            width: clamp(100px, 47vw, 628px);
          }

          @include mobile {
            width: clamp(100px, 120vw, 720px);
            height: clamp(100px, 55vw, 409px);
          }
        }
      }

      & > .project_container:nth-child(2) {
        transform: translateY(150px);

        @include medium-min {
          transform: none;
        }

        .project-picture {
          // width: 494px;
          // height: 333px;
          width: clamp(100px, 39vw, 494px);
          height: clamp(100px, 25vw, 333px);
          @include medium-min {
            width: clamp(100px, 47vw, 628px);
            height: clamp(100px, 25vw, 352px);
          }

          @include mobile {
            width: clamp(100px, 120vw, 720px);
            height: clamp(100px, 55vw, 409px);
          }
        }
      }

      & > .project_container:nth-child(3) {
        transform: translate(8px, 170px);

        @include medium-min {
          transform: none;
        }

        .project-picture {
          // width: 497px;
          // height: 330px;
          width: clamp(100px, 39vw, 497px);
          height: clamp(100px, 25vw, 330px);
          @include medium-min {
            width: clamp(100px, 47vw, 628px);
            height: clamp(100px, 25vw, 352px);
          }

          @include mobile {
            width: clamp(100px, 120vw, 720px);
            height: clamp(100px, 55vw, 409px);
          }
        }
      }

      & > .project_container:nth-child(4) {
        transform: translate(-123px, 180px);

        @include medium-min {
          transform: none;
        }

        .project-picture {
          // width: 420;
          // height: 276;
          width: clamp(100px, 33vw, 420px);
          height: clamp(100px, 20vw, 276px);
          @include medium-min {
            width: clamp(100px, 47vw, 628px);
            height: clamp(100px, 25vw, 352px);
          }

          @include mobile {
            width: clamp(100px, 120vw, 720px);
            height: clamp(100px, 55vw, 409px);
          }
        }
      }

      & > .project_container:nth-child(5) {
        transform: translate(242px, 300px);

        @include medium-min {
          transform: none;
        }

        .project-picture {
          // width: 575;
          // height: 380;
          width: clamp(300px, 39vw, 575px);
          height: clamp(200px, 25vw, 280px);
          @include medium-min {
            width: clamp(100px, 47vw, 628px);
            height: clamp(100px, 25vw, 352px);
          }

          @include mobile {
            width: clamp(100px, 120vw, 720px);
            height: clamp(100px, 55vw, 409px);
          }
        }
      }
    }

    .project-picture {
      object-fit: cover;
    }

    .project-desc {
      font-size: 0.8rem;
      text-transform: uppercase;

      &__container {
        display: flex;
        justify-content: space-between;
        background-color: var(--bg-primary);
        // background-color: red;
        padding-block: 2em;
      }

      &__tech {
        display: flex;
        gap: 1em;
      }
    }
  }
}
