.projects {
  margin-top: 13.5em;
  outline: 1px solid red;

  &__container {
    outline: 1px solid crimson;
    margin-bottom: 13.5em;
    // margin-inline: 18em;
    margin-inline: clamp(0.5rem, 10vw, 18em);

    .title {
      text-align: center;
      // font-size: 4.8125rem;
      font-size: clamp(0.5rem, 6vw, 4.8125rem);
      line-height: 1em;
      letter-spacing: 0.2rem;
    }
  }

  &__lists {
    ul {
      display: grid;
      margin-bottom: 5em;
      grid-template-columns: 1fr 1fr;
      justify-items: flex-end;

      & > .project_container:nth-child(1) {
        transform: translateX(-50px);
      }

      & > .project_container:nth-child(2) {
        transform: translateY(150px);
      }

      & > .project_container:nth-child(3) {
        transform: translate(8px, 170px);
      }

      & > .project_container:nth-child(4) {
        transform: translate(-153px, 180px);
      }

      & > .project_container:nth-child(5) {
        transform: translate(242px, 200px);
      }
    }

    .project-picture {
      object-fit: cover;
    }

    .project-desc {
      font-size: 0.8rem;
      text-transform: uppercase;

      &__container {
        display: flex;
        justify-content: space-between;
        // background-color: var(--bg-ternary);
        background-color: red;
        padding-block: 2em;
      }

      &__tech {
        display: flex;
        gap: 1em;
      }
    }
  }
}
