.skills {
  .title-container {
    height: 126px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    // padding-block: 1.5em;
    outline: 1px solid red;
    z-index: -1;
    overflow-x: hidden;
  }

  .box-big {
    width: 164px;
    height: calc(126px * 2);
    position: absolute;
    left: 100px;
    background-color: slateblue;
    color: white;
    z-index: 1;
  }

  .box-small {
    width: 87px;
    height: 126px;
    position: absolute;
    left: 100px;
    background-color: slateblue;
    color: white;
    z-index: 1;
  }
}

/* utility */
.move-1-step-down {
  transform: translateY(125px);
  background-color: yellowgreen;
}

.move-2-steps-down {
  transform: translateY(250px);
  background-color: firebrick;
}
