@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.footer {
  background-color: #fff;
  color: black;
  padding-top: 10em;

  .footer-container {
    .footer__content-upper {
      outline: 1px solid red;
      flex-direction: column;
      gap: 2.2em;

      .upper_title {
        outline: 1px solid slateblue;
        font-size: 4.25rem;
        line-height: 4.25rem;
        text-align: center;
        // margin-inline: 2em;
        margin-inline: clamp(0.025em, 10vw, 2em);

        @include mobile {
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
      }

      .upper_email-button {
        padding-block: 0.8em;
        padding-inline: 1.5em;
        text-transform: uppercase;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 100px;
        letter-spacing: 0.1em;
        cursor: pointer;
      }
    }

    .footer__bottom-wrapper {
      outline: 1px solid blue;
      margin-top: 15em;

      .footer__content-bottom {
        outline: 1px solid green;
        display: grid;
        grid-template-areas:
          "bigText bigText bigText"
          "text1 social text2";
        grid-template-columns: 1fr 2.3fr 1fr;
        grid-template-rows: fit-content;

        @include mobile {
          grid-template-areas:
            "social"
            "text1"
            "bigText"
            "text2";
          grid-template-columns: 1fr;
          grid-template-rows: fit-content;
        }

        .footer__bigtext-bottom {
          grid-area: bigText;
          // background-color: slateblue;
          // font-size: 9.2rem;
          font-size: clamp(3.175rem, 11vw, 9.2rem);
          line-height: 7.75rem;
          font-weight: 500;
          span {
            color: var(--clr-accent-primary);
          }
        }

        .social {
          display: flex;
          // gap: 3em;
          gap: clamp(0.175em, 4vw, 3em);
          align-items: center;
          justify-content: center;
          grid-area: social;
          list-style: none;
          margin-block: 3em;

          @include mobile {
            margin-block: 2em;
          }
        }

        .cv-button {
          text-transform: uppercase;
          background-color: #000;
          color: #fff;
          padding-inline: 0.5em;
          padding-block: 0.05em;
          display: flex;
          gap: 0.8em;
          align-items: center;
          cursor: pointer;
          // margin-left: 2em;
          margin-left: clamp(0.075em, 2.3vw, 2em);
          border-radius: 50px;

          .text {
            margin-right: 0.5em;
          }
        }

        .text1 {
          grid-area: text1;
          font-size: 0.9rem;
          // background-color: firebrick;
          @include mobile {
            display: flex;
            justify-content: center;
          }
        }

        .text2 {
          display: flex;
          justify-content: flex-end;
          grid-area: text2;
          font-size: 0.9rem;

          @include mobile {
            justify-content: center;
            margin-bottom: 2em;
          }

          // background-color: turquoise;
        }
      }
    }
  }
}
