@mixin medium-max {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: 575px) {
    @content;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-primary);
  font-size: 1rem;
  padding-block: 1.35em;
  align-items: center;

  @include mobile {
    padding-top: 0.4em;
    justify-content: flex-end;
  }

  &__menu {
    font-family: "Poppins";
    display: none;

    @include mobile {
      font-size: 0.9em;
      font-weight: 700;
      display: block;
      background-color: var(--bg-accent-primary);
      border-radius: 6.25em 6.25em;
      padding-block: 0.5em;
      padding-inline: 2em;
      cursor: pointer;
    }
  }

  &__line {
    @include mobile {
      display: none;
    }
  }

  .logo {
    cursor: pointer;

    @include mobile {
      display: none;
    }
  }

  span {
    font-size: 0.875rem;
    color: var(--clr-accent-primary);
  }

  .navigation {
    @include mobile {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      gap: clamp(0.175rem, 5vw, 1.175rem);
      // align-items: center;

      &:nth-child(2) {
        align-self: normal;
      }
    }

    &__skills {
      cursor: pointer;
    }

    &__projects {
      cursor: pointer;
    }

    &__about {
      cursor: pointer;
    }

    .seeMycv {
      background-color: var(--bg-accent-primary);
      display: flex;
      align-items: center;
      padding-right: 3em;
      padding-left: 0.5em;
      margin-left: 4em;
      border-radius: 0 6.25em 6.25em 0;
      cursor: pointer;

      .download-icon {
        margin-right: 1em;
      }
    }
  }
}
