.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-ternary);
  font-size: 1rem;
  padding-block: 1.35em;
  align-items: center;

  .logo {
    cursor: pointer;
  }

  span {
    font-size: 0.875rem;
    color: var(--clr-accent-primary);
  }

  .navigation {
    ul {
      list-style: none;
      display: flex;
      gap: clamp(0.175rem, 5vw, 1.175rem);
      // align-items: center;

      &:nth-child(2) {
        align-self: normal;
      }
    }

    &__skills {
      cursor: pointer;
    }

    &__projects {
      cursor: pointer;
    }

    &__about {
      cursor: pointer;
    }

    .seeMycv {
      background-color: var(--bg-accent-primary);
      display: flex;
      align-items: center;
      padding-right: 3em;
      padding-left: 0.5em;
      margin-left: 4em;
      border-radius: 0 6.25em 6.25em 0;
      cursor: pointer;

      .download-icon {
        margin-right: 1em;
      }
    }
  }
}
