@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./variables.scss";
@import "./utility.scss";

body {
  font-family: "Poppins";
  // color: var(--clr-primary);
  color: #ebeded;
  // background-color: #00a19a;
  background-color: #1e827d;

  h1::selection {
    color: #1c1c1c;
    background-color: #f93471;
  }

  h2::selection {
    color: #1c1c1c;
    background-color: #f93471;
  }

  p::selection {
    color: #1c1c1c;
    background-color: #f93471;
  }
}

h1 {
  font-weight: 400;
}
