.full-container {
  $max-width: 2500px; /* 4k resolution */
  $container-padding: 1.8em;
  // outline: 1px solid red;

  width: min($max-width, 100% - ($container-padding * 2));
  margin-inline: auto;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
