:root {
  /* background */
  --bg-primary: #1c1c1c;
  --bg-accent-primary: #de1352;
  --bg-secondary: #ffeef3;
  --bg-ternary: #1e827d;
  --bg-white-ternary: #ebeded;

  /* color */
  --clr-primary: #fff;
  --clr-accent-primary: #de1352;
  --clr-ternary: #ebeded;
}
